/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#quarto-header{
    background-color: white;
}
.quarto-title{margin-top:110px;}
h1.title{
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: Inter,ui-sans-serif,system-ui,Helvetica,Arial,sans-serif;
    font-variation-settings: normal;
    tab-size: 4;
    --ghost-accent-color: #15171A;
    --tw-bg-opacity: 1;
    text-align: center;
    border: 0 solid;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246/0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    margin: 0;
    font-weight: 750;
    --tw-text-opacity: 1;
    color: rgb(38 39 48/var(--tw-text-opacity));
    font-size: 2.5rem;
    letter-spacing: -.025em;
    line-height: 1;
}
.categories .category:not(:last-child)::after {
    content: ', ';
  }
.category a{color:gray !important; text-decoration: underline !important;}
.quarto-title-meta-heading{display:none;}
.post-meta{
    margin-top:40px;
    text-align: center;
    margin-bottom:60px;
}
.navbar{
    background-color: white;
    color: black !important;
}
span.quarto-title-meta-contents span.date{
    color:gray !important;
}
a{
    color: #D94E24 !important;
}
.text-primary {
    color: #D94E24 !important;
}
.bg-primary {
    background-color: #D94E24 !important;
}
.border-primary {
    border-color: #D94E24 !important;
}
.btn-primary {
    background-color: #D94E24 !important;
    border-color: #D94E24 !important;
}
.btn-primary:hover {
    background-color: #d76b2f !important;
    border-color: #d76b2f !important;
}
    body {
        background-color: #ffffff;
        font-family: "Inter", serif;
        font-size:18px;
    }
    .blog-date {
        opacity: 0.8;
        margin-bottom:8px;
        --tw-text-opacity: 1;
        color: rgb(100 116 139 / var(--tw-text-opacity));
        line-height: 1.75em;
    }
    .blog-title {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.75rem
    }
    .blog-meta {
        color: #6c757d;
        margin-bottom: 10px;
    }
    .sidebar {
        padding-right: 0px;
        background-color: #ffffff;
        border-radius: 8px;
    }
    .sidebar h5 {
        font-weight: 600;
        margin-bottom: 20px;
    }
    nav.navbar {
        border: none;
        box-shadow: none !important;
        background-color: transparent; /* Optional: Set to transparent or any color you prefer */
    }
    .nav-item img{
        position: relative;
        top:10px;
    }
    .navbar-brand {
        font-weight: 600;
    }
    .navbar-brand, h5, .sidebar h5, .navbar .navbar-title{
        color: #D94E24 ;
        font-family: "Inter", serif;
        font-size:24px !important;
        font-weight: 700;
        --quarto-hl-ot-color: #003B4F;
        --quarto-hl-at-color: #657422;
        --quarto-hl-ss-color: #20794D;
        --quarto-hl-an-color: #5E5E5E;
        --quarto-hl-fu-color: #4758AB;
        --quarto-hl-st-color: #20794D;
        --quarto-hl-cf-color: #003B4F;
        --quarto-hl-op-color: #5E5E5E;
        --quarto-hl-er-color: #AD0000;
        --quarto-hl-bn-color: #AD0000;
        --quarto-hl-al-color: #AD0000;
        --quarto-hl-va-color: #111111;
        --quarto-hl-bu-color: inherit;
        --quarto-hl-ex-color: inherit;
        --quarto-hl-pp-color: #AD0000;
        --quarto-hl-in-color: #5E5E5E;
        --quarto-hl-vs-color: #20794D;
        --quarto-hl-wa-color: #5E5E5E;
        --quarto-hl-do-color: #5E5E5E;
        --quarto-hl-im-color: #00769E;
        --quarto-hl-ch-color: #20794D;
        --quarto-hl-dt-color: #AD0000;
        --quarto-hl-fl-color: #AD0000;
        --quarto-hl-co-color: #5E5E5E;
        --quarto-hl-cv-color: #5E5E5E;
        --quarto-hl-cn-color: #8f5902;
        --quarto-hl-sc-color: #5E5E5E;
        --quarto-hl-dv-color: #AD0000;
        --quarto-hl-kw-color: #003B4F;
        --quarto-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-black: #000;
        --bs-white: #ffffff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #e9ecef;
        --bs-gray-300: #dee2e6;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #adb5bd;
        --bs-gray-600: #6c757d;
        --bs-gray-700: #495057;
        --bs-gray-800: #343a40;
        --bs-gray-900: #212529;
        --bs-default: #dee2e6;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-default-rgb: 222, 226, 230;
        --bs-primary-rgb: 13, 110, 253;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-success-rgb: 25, 135, 84;
        --bs-info-rgb: 13, 202, 240;
        --bs-warning-rgb: 255, 193, 7;
        --bs-danger-rgb: 220, 53, 69;
        --bs-light-rgb: 248, 249, 250;
        --bs-dark-rgb: 33, 37, 41;
        --bs-white-rgb: 255, 255, 255;
        --bs-black-rgb: 0, 0, 0;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        --bs-root-font-size: 1.15em;
        --bs-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-body-font-size: 1rem;
        --bs-body-font-weight: 400;
        --bs-body-line-height: 1.5;
        --bs-link-decoration: underline;
        --bs-highlight-bg: #fff3cd;
        --bs-border-width: 1px;
        --bs-border-style: solid;
        --bs-border-radius: 0.25rem;
        --bs-border-radius-sm: 0.2em;
        --bs-border-radius-lg: 0.5rem;
        --bs-border-radius-xl: 1rem;
        --bs-border-radius-xxl: 2rem;
        --bs-border-radius-2xl: var(--bs-border-radius-xxl);
        --bs-border-radius-pill: 50rem;
        --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
        --bs-focus-ring-width: 0.25rem;
        --bs-focus-ring-opacity: 0.25;
        --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
        --bs-breakpoint-xs: 0;
        --bs-breakpoint-sm: 576px;
        --bs-breakpoint-md: 768px;
        --bs-breakpoint-lg: 992px;
        --bs-breakpoint-xl: 1200px;
        --bs-breakpoint-xxl: 1400px;
        --bslib-spacer: 1rem;
        --bslib-mb-spacer: var(--bslib-spacer, 1rem);
        --bslib-value-box-shadow: none;
        --bslib-value-box-border-width-auto-yes: var(--bslib-value-box-border-width-baseline);
        --bslib-value-box-border-width-auto-no: 0;
        --bslib-value-box-border-width-baseline: 1px;
        --bslib-page-sidebar-title-bg: #517699;
        --bslib-page-sidebar-title-color: #ffffff;
        --quarto-body-bg: #ffffff;
        --quarto-body-color: #212529;
        --quarto-text-muted: #6c757d;
        --quarto-border-color: #dee2e6;
        --quarto-border-width: 1px;
        --quarto-border-radius: 0.25rem;
        --mermaid-bg-color: #ffffff;
        --mermaid-edge-color: #6c757d;
        --mermaid-fg-color: #212529;
        --mermaid-fg-color--lighter: #383f45;
        --mermaid-fg-color--lightest: #4e5862;
        --mermaid-font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        --mermaid-label-bg-color: #ffffff;
        --mermaid-label-fg-color: #0d6efd;
        --mermaid-node-bg-color: rgba(13, 110, 253, 0.1);
        --mermaid-node-fg-color: #212529;
        line-height: var(--bs-body-line-height);
        text-align: var(--bs-body-text-align);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        color-scheme: dark;
        --bs-body-color: #dee2e6;
        --bs-body-color-rgb: 222, 226, 230;
        --bs-body-bg: #212529;
        --bs-body-bg-rgb: 33, 37, 41;
        --bs-emphasis-color: #ffffff;
        --bs-emphasis-color-rgb: 255, 255, 255;
        --bs-secondary-color: rgba(222, 226, 230, 0.75);
        --bs-secondary-color-rgb: 222, 226, 230;
        --bs-secondary-bg: #343a40;
        --bs-secondary-bg-rgb: 52, 58, 64;
        --bs-tertiary-color: rgba(222, 226, 230, 0.5);
        --bs-tertiary-color-rgb: 222, 226, 230;
        --bs-tertiary-bg: #2b3035;
        --bs-tertiary-bg-rgb: 43, 48, 53;
        --bs-primary-text-emphasis: #6ea8fe;
        --bs-secondary-text-emphasis: #a7acb1;
        --bs-success-text-emphasis: #75b798;
        --bs-info-text-emphasis: #6edff6;
        --bs-warning-text-emphasis: #ffda6a;
        --bs-danger-text-emphasis: #ea868f;
        --bs-light-text-emphasis: #f8f9fa;
        --bs-dark-text-emphasis: #dee2e6;
        --bs-primary-bg-subtle: #031633;
        --bs-secondary-bg-subtle: #161719;
        --bs-success-bg-subtle: #051b11;
        --bs-info-bg-subtle: #032830;
        --bs-warning-bg-subtle: #332701;
        --bs-danger-bg-subtle: #2c0b0e;
        --bs-light-bg-subtle: #343a40;
        --bs-dark-bg-subtle: #1a1d20;
        --bs-primary-border-subtle: #084298;
        --bs-secondary-border-subtle: #41464b;
        --bs-success-border-subtle: #0f5132;
        --bs-info-border-subtle: #087990;
        --bs-warning-border-subtle: #997404;
        --bs-danger-border-subtle: #842029;
        --bs-light-border-subtle: #495057;
        --bs-dark-border-subtle: #343a40;
        --bs-heading-color: inherit;
        --bs-link-color: #6ea8fe;
        --bs-link-hover-color: #8bb9fe;
        --bs-link-color-rgb: 110, 168, 254;
        --bs-link-hover-color-rgb: 139, 185, 254;
        --bs-code-color: white;
        --bs-border-color: #495057;
        --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
        --bs-form-valid-color: #75b798;
        --bs-form-valid-border-color: #75b798;
        --bs-form-invalid-color: #ea868f;
        --bs-form-invalid-border-color: #ea868f;
        --bs-navbar-padding-x: 0;
        --bs-navbar-padding-y: 0.5rem;
        --bs-navbar-brand-padding-y: 0.3125rem;
        --bs-navbar-brand-margin-end: 1rem;
        --bs-navbar-brand-font-size: 1.25rem;
        --bs-navbar-nav-link-padding-x: 0.5rem;
        --bs-navbar-toggler-padding-y: 0.25;
        --bs-navbar-toggler-padding-x: 0;
        --bs-navbar-toggler-font-size: 1.25rem;
        --bs-navbar-toggler-border-radius: 0.25rem;
        --bs-navbar-toggler-focus-width: 0.25rem;
        --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
        --bs-navbar-color: #fdfefe;
        --bs-navbar-hover-color: rgba(253, 254, 255, 0.8);
        --bs-navbar-disabled-color: rgba(253, 254, 254, 0.75);
        --bs-navbar-active-color: #fdfeff;
        --bs-navbar-brand-color: #fdfefe;
        --bs-navbar-brand-hover-color: #fdfeff;
        --bs-navbar-toggler-border-color: rgba(253, 254, 254, 0);
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fdfefe' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        text-underline-offset: 3px;
        white-space: nowrap;
        box-sizing: border-box;
        color: #D94E24;
        font-family: "Inter", serif;
        font-size: 24px !important;
        font-weight: 700;
    }
    .sidebar h6{
        font-size: 1.125rem;
        font-weight: 700;
    }
    .nav-link {
        color: #6c757d;
    }
    .nav-link:hover {
        color: #000;
    }
    .blog-post + hr {
        margin-top: 40px;
        margin-bottom: 40px;
        border-top: 1px solid #d6d8db ;
        opacity: 0.4;
    }
    .container, .navbar-container {
        max-width: 820px; /* Adjust the width as needed */
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px ;
    }
    .post-meta{
        -webkit-text-size-adjust: 100%;
        font-feature-settings: normal;
        -webkit-tap-highlight-color: transparent;
        font-family: Inter,ui-sans-serif,system-ui,Helvetica,Arial,sans-serif;
        font-variation-settings: normal;
        tab-size: 4;
        --ghost-accent-color: #15171A;
        --tw-bg-opacity: 1;
        text-align: center;
        border: 0 solid;
        box-sizing: border-box;
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x: ;
        --tw-pan-y: ;
        --tw-pinch-zoom: ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position: ;
        --tw-gradient-via-position: ;
        --tw-gradient-to-position: ;
        --tw-ordinal: ;
        --tw-slashed-zero: ;
        --tw-numeric-figure: ;
        --tw-numeric-spacing: ;
        --tw-numeric-fraction: ;
        --tw-ring-inset: ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246/0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
        --tw-contain-size: ;
        --tw-contain-layout: ;
        --tw-contain-paint: ;
        --tw-contain-style: ;
        margin: 0;
        --tw-text-opacity: 1;
        color: rgb(128 132 149/var(--tw-text-opacity));
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 1.2rem;
        letter-spacing: -.025em;
        line-height: 2.5rem;
    }